<!DOCTYPE html>
<html>
    <head>
        <title>后台管理</title>
        <link rel="stylesheet" href="/css/global.css" type="text/css">
        <link rel="stylesheet" href="/css/backstage.css" type="text/css">
        <link rel="icon" href="/images/icon.ico">
    </head>
    <body>
        <div class="table-wrap">
            <div class="table-head-wrap">
                <div class="col1">序号</div>
                <div class="col2">标题</div>
                <div class="col1">面积</div>
                <div class="col3">小区名</div>
                <div class="col4">地址</div>
                <div class="col1">总价</div>
                <div class="col5">操作</div>
            </div>
            <%items.forEach(function(item,index){%>
            <div class="table-line-wrap">
                <div class="col1" title="<%=(pageNow-1)*pageSize+(index+1)%>"><%=(pageNow-1)*pageSize+(index+1)%></div>
                <div class="col2" title="<%=item.title%>"><%=item.title%></div>
                <div class="col1" title="<%=item.area%>㎡"><%=item.area%>㎡</div>
                <div class="col3" title="<%=item.estate_name%>"><%=item.estate_name%></div>
                <div class="col4" title="<%=item.address%>"><%=item.address%></div>
                <div class="col1" title="<%=item.total_price%>万"><%=item.total_price%>万</div>
                <div class="col5">
                    <a class="btn show">查看</a>
                    <a class="btn modify">修改</a>
                    <a class="btn delete" href="http://localhost:3000/backstage/delete?pageNow=<%=pageNow%>&id=<%=item.id%>" onclick="return confirm('确认删除吗?')">删除</a>
                </div>
                <input type="hidden" value="<%=item.id%>" name="hidden_id"/>
            </div>
            <%});%>
            <a class="addBtn">新增数据</a>
            <div class="pageDeal-warp clearfix">
                <%if(pageNow==totalPage){%>
                    <i class="pageNext">后页</i>
                <%}else{%>
                    <a class="pageNext" href="http://localhost:3000/backstage/list?pageNow=<%=pageNow+1%>">后页</a>
                <%}%>
                <%if(pageNow==1){%>
                    <i class="pagePrev">前页</i>
                <%}else{%>
                    <a class="pagePrev" href="http://localhost:3000/backstage/list?pageNow=<%=pageNow-1%>">前页</a>
                <%}%>
                <div class="pageSelect clearfix">
                    <form action="/backstage/list" method="POST">
                        <span>(共有<%=totalPage%>页)</span>
                        <input type="submit" value="跳转" class="submitBtn"/>
                        <input type="text" class="page" name="page"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="list-wrap" id="list-wrap">
            <form action="/backstage/addAndModify" method="POST" id="form">
                <div class="d-item"><span class="item-title">ID</span><input type="text" name="id" class="input-short" readonly="true"/></div>
                <br>
                <div class="d-item mg-top">
                    <span class="item-title">房型</span>
                    <select name="layout" class="select">
                        <option value="1">1室1厅</option>
                        <option value="2">2室1厅</option>
                        <option value="3">3室1厅</option>
                        <option value="4">4室1厅</option>
                        <option value="5">5室1厅</option>
                        <option value="6">5室1厅以上</option>
                    </select>
                </div>
                <br>
                <div class="d-item mg-top"><span class="item-title">面积</span><input type="text" name="area" class="input-short" style="margin-right: 5px;" maxlength="10" onmouseover="this.title=this.value" autocomplete="off"/>㎡<span class="err">面积必须为正数数字(小数点后最多两位)</span></div>
                <br>
                <div class="d-item mg-top">
                    <span class="item-title">楼层</span>
                    <select name="floor" class="select">
                        <option value="1">中层(共6层)</option>
                        <option value="2">中高层(共12层)</option>
                        <option value="3">高层(12层以上)</option>
                    </select>
                </div>
                <br>
                <div class="d-item mg-top"><span class="item-title">建造时间</span><input type="text" name="time" class="input-short" style="margin-right: 5px;" maxlength="4" autocomplete="off"/>年建造<span class="err">建造时间必须为正整数</span></div>
                <br>
                <div class="d-item mg-top"><span class="item-title">小区名</span><input type="text" name="estate_name" class="input-middle" maxlength="20" onmouseover="this.title=this.value" autocomplete="off"/><span class="err">小区名不可为空</span></div>
                <br>
                <div class="d-item mg-top"><span class="item-title">总价</span><input type="text" name="total_price" class="input-short" style="margin-right: 5px;" maxlength="11" onmouseover="this.title=this.value" readonly="true"/>万</div>
                <br>
                <div class="d-item mg-top"><span class="item-title">单价</span><input type="text" name="univalence" class="input-short" style="margin-right: 5px;" maxlength="11" onmouseover="this.title=this.value" autocomplete="off"/>元/㎡<span class="err">单价必须为正整数</span></div>
                <br>
                <div class="d-item mg-top"><span class="item-title">区域</span><input type="text" name="district" class="input-middle" maxlength="20" onmouseover="this.title=this.value" autocomplete="off"/><span class="err">区域不可为空</span></div>
                <br>
                <div class="d-item mg-top"><span class="item-title">商圈</span><input type="text" name="trade_area" class="input-middle" maxlength="10" onmouseover="this.title=this.value" autocomplete="off"/><span class="err">商圈不可为空</span></div>
                <br>
                <div class="d-item mg-top"><span class="item-title">标题</span><input type="text" name="title" class="input-large" maxlength="200" onmouseover="this.title=this.value" autocomplete="off"/><span class="err">标题不可为空</span></div>
                <br>
                <div class="d-item mg-top"><span class="item-title">详细地址</span><input type="text" name="address" class="input-large" maxlength="200" onmouseover="this.title=this.value" autocomplete="off"/><span class="err">详细地址不可为空</span></div>
                <br>
                <div class="d-item mg-top"><span class="item-title">简短地址</span><input type="text" name="short_address" class="input-large" maxlength="150" onmouseover="this.title=this.value" autocomplete="off"/><span class="err">简短地址不可为空</span></div>
                <input type="submit" value="提交" class="listSubmitBtn" onclick="return confirm('确认提交?')"/>
                <input type="button" value="取消" class="listCancelBtn"/>
                <input type="hidden" value="<%=pageNow%>" name="hidden_pageNow"/>
            </form>
        </div>
        <script src="/js/jquery-1.11.3.min.js"></script>
        <script>
            (function(){
                function scrollToList(){
                    var targetOffset=$("#list-wrap").offset().top;
                    $("html").animate({scrollTop:targetOffset},500);
                }
                function clearList(){
                    $("input[name=id]").val("");
                    $("input[name=area]").val("");
                    $("input[name=time]").val("");
                    $("input[name=estate_name]").val("");
                    $("input[name=total_price]").val("");
                    $("input[name=univalence]").val("");
                    $("input[name=district]").val("");
                    $("input[name=trade_area]").val("");
                    $("input[name=title]").val("");
                    $("input[name=address]").val("");
                    $("input[name=short_address]").val("");
                    $("select[name=layout]").val(1);
                    $("select[name=floor]").val(1);
                    $(".err").hide();
                }
                function showListPrepare(){
                    $("input[name=area]").attr("readonly",true);
                    $("input[name=time]").attr("readonly",true);
                    $("input[name=estate_name]").attr("readonly",true);
                    $("input[name=univalence]").attr("readonly",true);
                    $("input[name=district]").attr("readonly",true);
                    $("input[name=trade_area]").attr("readonly",true);
                    $("input[name=title]").attr("readonly",true);
                    $("input[name=address]").attr("readonly",true);
                    $("input[name=short_address]").attr("readonly",true);
                    $("select[name=layout]").attr("disabled",true);
                    $("select[name=floor]").attr("disabled",true);
                    $(".err").hide();
                }
                function resumeList(){
                    $("input[name=area]").attr("readonly",false);
                    $("input[name=time]").attr("readonly",false);
                    $("input[name=estate_name]").attr("readonly",false);
                    $("input[name=univalence]").attr("readonly",false);
                    $("input[name=district]").attr("readonly",false);
                    $("input[name=trade_area]").attr("readonly",false);
                    $("input[name=title]").attr("readonly",false);
                    $("input[name=address]").attr("readonly",false);
                    $("input[name=short_address]").attr("readonly",false);
                    $("select[name=layout]").attr("disabled",false);
                    $("select[name=floor]").attr("disabled",false);
                    $(".err").hide();
                }
                $(".addBtn").click(function(){
                    $(".listSubmitBtn").attr("disabled",false);
                    $(".listSubmitBtn").removeClass("disabled");
                    clearList();
                    resumeList();
                    $("#list-wrap").show();
                    scrollToList();
                });
                $(".show").click(function(){
                    $(".listSubmitBtn").attr("disabled",true);
                    $(".listSubmitBtn").addClass("disabled");
                    showListPrepare();
                    $.ajax({
                        url:"/backstage/select",
                        async:true,
                        data:"id="+$(this).parent().siblings("input[name=hidden_id]").val(),
                        type:"post",
                        success:function(res){
                            var object=JSON.parse(res);
                            $("input[name=id]").val(object.id);
                            $("input[name=area]").val(object.area);
                            $("input[name=time]").val(parseInt(object.time));
                            $("input[name=estate_name]").val(object.estate_name);
                            $("input[name=total_price]").val(object.total_price);
                            $("input[name=univalence]").val(object.univalence);
                            $("input[name=district]").val(object.district);
                            $("input[name=trade_area]").val(object.trade_area);
                            $("input[name=title]").val(object.title);
                            $("input[name=address]").val(object.address);
                            $("input[name=short_address]").val(object.short_address);
                            $("select[name=layout]").val(object.layout=="1室1厅"?1:object.layout=="2室1厅"?2:object.layout=="3室1厅"?3:object.layout=="4室1厅"?4:object.layout=="5室1厅"?5:6);
                            $("select[name=floor]").val(object.floor=="中层(共6层)"?1:object.floor=="中高层(共12层)"?2:3);
                        }
                    });
                    $("#list-wrap").show();
                    scrollToList();
                });
                $(".modify").click(function(){
                    $(".listSubmitBtn").attr("disabled",false);
                    $(".listSubmitBtn").removeClass("disabled");
                    resumeList();
                    $.ajax({
                        url:"/backstage/select",
                        async:true,
                        data:"id="+$(this).parent().siblings("input[name=hidden_id]").val(),
                        type:"post",
                        success:function(res){
                            var object=JSON.parse(res);
                            $("input[name=id]").val(object.id);
                            $("input[name=area]").val(object.area);
                            $("input[name=time]").val(parseInt(object.time));
                            $("input[name=estate_name]").val(object.estate_name);
                            $("input[name=total_price]").val(object.total_price);
                            $("input[name=univalence]").val(object.univalence);
                            $("input[name=district]").val(object.district);
                            $("input[name=trade_area]").val(object.trade_area);
                            $("input[name=title]").val(object.title);
                            $("input[name=address]").val(object.address);
                            $("input[name=short_address]").val(object.short_address);
                            $("select[name=layout]").val(object.layout=="1室1厅"?1:object.layout=="2室1厅"?2:object.layout=="3室1厅"?3:object.layout=="4室1厅"?4:object.layout=="5室1厅"?5:6);
                            $("select[name=floor]").val(object.floor=="中层(共6层)"?1:object.floor=="中高层(共12层)"?2:3);
                        }
                    });
                    $("#list-wrap").show();
                    scrollToList();
                });
                $(".listCancelBtn").click(function(){
                    $("#list-wrap").hide();
                });
                $("#form").submit(function(e){
                    $(".err").hide();
                    var area=$("input[name=area]").val();
                    var univalence=$("input[name=univalence]").val();
                    var time=$("input[name=time]").val();
                    var estate_name=$("input[name=estate_name]").val();
                    var district=$("input[name=district]").val();
                    var trade_area=$("input[name=trade_area]").val();
                    var title=$("input[name=title]").val();
                    var address=$("input[name=address]").val();
                    var short_address=$("input[name=short_address]").val();
                    var form_err_count=0;
                    if(short_address==""){
                        form_err_count++;
                        $("input[name=short_address]").siblings(".err").show();
                    }
                    if(address==""){
                        form_err_count++;
                        $("input[name=address]").siblings(".err").show();
                    }
                    if(title==""){
                        form_err_count++;
                        $("input[name=title]").siblings(".err").show();
                    }
                    if(trade_area==""){
                        form_err_count++;
                        $("input[name=trade_area]").siblings(".err").show();
                    }
                    if(district==""){
                        form_err_count++;
                        $("input[name=district]").siblings(".err").show();
                    }
                    if(estate_name==""){
                        form_err_count++;
                        $("input[name=estate_name]").siblings(".err").show();
                    }
                    if(isNaN(area)){
                        form_err_count++;
                        $("input[name=area]").siblings(".err").show();
                    }else if(area.toString().split(".").length>1&&area.toString().split(".")[1].length>2||area<0||area==""){
                        form_err_count++;
                        $("input[name=area]").siblings(".err").show();
                    }
                    if(isNaN(univalence)){
                        form_err_count++;
                        $("input[name=univalence]").siblings(".err").show();
                    }else if(univalence<0||univalence.toString().split(".").length>1||univalence==""){
                        form_err_count++;
                        $("input[name=univalence]").siblings(".err").show();
                    }
                    if(isNaN(time)){
                        form_err_count++;
                        $("input[name=time]").siblings(".err").show();
                    }else if(time<0||time.toString().split(".").length>1||time==""){
                        form_err_count++;
                        $("input[name=time]").siblings(".err").show();
                    }
                    if(form_err_count>0){
                        e.preventDefault();
                    }else{
                        $("input[name=total_price]").val(Math.ceil($("input[name=univalence]").val()/10000*$("input[name=area]").val()));
                        $("#form").submit();
                    }
                });
            })();
        </script>
    </body>
</html>